body {
	margin: 0 auto;
	padding: 0;
	background-color: black;
}

.okvir {
	width: 1000px;
	margin: 0 auto;
}

.banner {
	height: 293px;
}

.meni {
	width: 1000px;
	margin: 0px auto;
	margin-left: 0;
	margin-right: 0;
	float: left;
	padding: 0;
}

.footer {
	width: 1000px;
	float: left;
	padding: 0;
	margin-top: 5px;
	color: white;
	line-height: 0px;
	background-color: gray;
	font-size: 14px;
	text-align: center;
}

nav {
	height: 42px;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

nav ul li a{
	float: left;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 0px 20px;
	text-align: center;
	margin: 0 auto;
	line-height: 42px;
	font-size: 20.28px;
}

nav ul li a:hover {
	background-color: white;
	color: gray;
	border-radius: 8px;
}

nav ul li a.aktivni {
	background-color: white;
	color: gray;
	border-radius: 8px;
}

/* css za podstranicu index.html */
.sadrzaj-pocetna, .sadrzaj-balasgram {
	text-align: center;
	margin: 20px 0px 0px 0px;
	padding-top: 5px;
}

.playlista {
	border: 1px solid white;
	width: 100%;
	color: white;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 5px;
}

.playlista td, tr, th {
	border: 1px solid white;
}

.pjesma, .top-slike {
	width: 100%;
	color: white;
	margin: 0px 0px 5px 0px;
	padding-top: 5px;
}

.najbolja-pjesma {
	font-size: 15px;
}

.sadrzaj-pocetna p, .sadrzaj-balasgram p {
	margin-bottom: 0px;
}
.desno {
	text-align: center;
}

.pjesma table {
	margin: 0 auto;
}
/* css za podstranicu index.html */

/* css za podstranicu kontakt.html */
.sadrzaj-kontakt {
	float: left;
	width: 100%;
}

.facebook, .instagram, .viber {
	width: 100px;
	float: left;
}

.logo {
	height: 100px;
	width: 100px;
}
.email, .ocjena-stranice {
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding: 5px;
	border: 1px solid white;
}


.ocjena-str, .najbolja-pjesma, #viber-kontakt {
	color: white;
}

.ocjena-str p {
	text-align: center;
}

figure {
    display: inline-block;
}

figure figcaption {
    text-align: center;
}
/* kraj css-a za podstranicu kontakt.html */

@media screen and (max-width:999px) {
	.banner {
		height: auto;
	}
	
	.okvir, .meni, .sadrzaj-kontakt, .footer {
		width: 100%;
	}
	
	.logo {
		width: 50px;
		height: 50px;
	}
	
	figure figcaption {
		text-align: left;
		font-size: 10px;
	}
	
	.banner img {
		width: 100%;
	}
	
	.sadrzaj-pocetna img, .sadrzaj-balasgram img {
		height: 250px;
		width: 250px;
	}

	nav ul li a {
		font-size: 15px;
	}
	
	.unos {
		width: 90%;
	}
	
	.ocjena-str, .footer, .najbolja-pjesma, .playlista, .citat-naslov, .citati {
		font-size: 12px;
	}
	
	.email, .ocjena-stranice {
		 margin: 0 auto;
		 width: 65%;
	}
}

@media screen and (max-width:802px) {
	nav ul li a{
		font-size: 12px;
	}
}

@media screen and (max-width:690px) {
	nav ul li a{
		font-size: 8px;
	}
	
	.ocjena-str, .footer, .najbolja-pjesma, .playlista, .citat-naslov, .citati {
		font-size: 12px;
	}
	
	.sadrzaj-kontakt {
		margin: 0 auto;
	}
	
	.facebook, .instagram, .viber {
		margin-left: 5%;
	}
	
	.logo {
		width: 40px;
		height: 40px;
		margin-left: 5px;;
	}
}

@media screen and (max-width:540px) {
	nav ul li a{
		width: 100%;
		padding: 0;
	}
	
	.ocjena-str, nav ul li a, .playlista, .najbolja-pjesma, .citat-naslov, .citati {
		font-size: 12px;
	}
}

@media screen and (max-width:350px) {
	.ocjena-str, .najbolja-pjesma, .playlista, nav ul li a, .citat-naslov, .citati {
		font-size: 10px;
	}
	
	.footer {
		font-size: 6px;
	}
	
	.selekt {
		width: 55px !important;
	}
}

@media screen and (max-width:230px) {
	.sadrzaj-pocetna p, .sadrzaj-balasgram p, .ocjena-str, .najbolja-pjesma, .playlista, .citat-naslov, .citati {
		font-size: 4px;
	}
	
	.sadrzaj-pocetna img, .sadrzaj-balasgram img {
		height: 50px;
		width: 50px;
	}
}

@media screen and (max-width:166px) {
	nav ul li a{
		font-size: 4px;
		margin-left: 0px;
	}
	
	.footer {
		font-size: 2px;
	}
	
	.logo {
		width: 25px;
		height: 25px;
	}
	
	figure figcaption {
		text-align: left;
		font-size: 5px;
	}
}